.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}
[class*="__container"] {
    max-width: 998px;
    margin: 0 auto;
    padding: 0 15px;
}
.title {
    font-size: 60px;
    line-height: 66.666%;
    color: #14AFCA;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
}
.subtitle {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    line-height: 222%;
    letter-spacing: 0.9px;
    text-align: center;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 32px;
    background-color: #fff;
    z-index: 5;
}
.header__container {
    display: flex;
    align-items: center;
    height: 113px;
}
.header__logo { 
    font-size: 36px;
    font-weight: 300;
    flex: 1 1 auto;
}
.header__logo span {
    color: #14AFCA;
    font-weight: 900;
}
.menu {
    font-family: "Open Sans";
    font-weight: 700;
}
.menu__list {
    display: flex;
    gap: 50px;
}
.menu__item a {
    color: #3E4C4E;
}
.menu__item:hover a{
    color: #14AFCA;
}
.page__main-block {
    background-image: url(../img/header-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}
.main-block__title {
    font-size: 52px;
    line-height: 144%;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 317px;
    padding-bottom: 134px;
    color: #fff;
}
.page__what {
    margin-top: 122px;
}
.what__subtitle {
    margin-bottom: 32px;
}
.what__text {
    text-align: center;
    font-size: 16px;
    line-height: 187%;
}
.companies {
    margin-top: 90px;
    background-image: url(../img/main-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 100%, 0 100%);
    padding-top: 125px;
    padding-bottom: 94px;
}
.companies__title {
    margin: 0;
}
.companies__subtitle {
    color: #fff;
    line-height: 416%;
}
.companies__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    column-gap: 40px;
    row-gap: 120px;
    margin-top: 19px;
}
.meet {
    margin-top: 150px;
}
.meet__items {
    display: flex;
    gap: 56px;
    margin-top: 20px;
}
.meet__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.meet__image {
    height: 206px;
}
.meet__item p {
    text-align: center;
    line-height: 186%;
    margin-top: 20px;
}
.testimonials {
    margin-top: 128px;
    background-image: url(../img/main-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 180px;
    padding-bottom: 143px;
    clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%);
}
.testimonials__container {
    display: flex;
    flex-direction: column;
}
.testimonials__subtitle {
    color: #fff;
    margin-bottom: 48px;
}
.testimonials__text {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 175%;
    font-style: italic;
    color: #D3CCCC;
    text-align: center;
    margin: 0 auto;
}
.testimonials__author {
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0.45px;
    color: #fff;
    font-family: "Open Sans";
    font-style: italic;
    margin-left: 685px;
    margin-top: 28px;
}
.why {
    margin-top: 105px;
}
.why__subtitle {
    margin-bottom: 10px;
}
.why__text {
    text-align: center;
    font-size: 30px;
    line-height: 160%;
    letter-spacing: 0.75px;
    font-weight: 700;
    max-width: 816px;
    margin: 0 auto;
}
.footer {
    margin-top: 96px;
    text-align: center;
    margin-bottom: 88px;
}
.foooter__copyright {
    max-width: 416px;
    margin: 0 auto;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 24px;
}
.foooter__copyright span {
    font-weight: 700;
    font-size: 16px;
}
